html, body {
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
canvas:first-of-type {
    z-index: 1;
}
canvas:last-of-type {
    z-index: 0;
}

#pdf-viewer {
    position: absolute;
    top: 32px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

#pdf-controls {
    padding: 5px 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: solid 1px gray;
}

#pdf-annotation-layer { 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

#pdf-annotation-layer > section {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

#pdf-annotation-layer > .linkAnnotation > a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pdf-text-layer { 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

#pdf-text-layer > div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}